body {
    background-color: black;
}

a {
    color: yellow;
    font-family: DejaVu Sans Mono, monospace;
}

h1 {
    text-align: center;
    color: yellow;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 50px;
}

h2 {
    color: yellow;
    font-family: cursive;
}

p { 
    color: yellow;
    font-family: DejaVu Sans Mono, monospace;
}

h3 {
    color: yellow;
    font-family: cursive; 
}

li {
    color: yellow;
    font-family: DejaVu Sans Mono, monospace;
}

h4 {
    color: yellow;
    font-family: cursive;
    font-size: 20px;
}

h5 {
    color: yellow;
    font-family: cursive;
    font-size: 20px;
}

select {
        background-color: black;
        color: yellow;
        font-family: DejaVu Sans Mono, monospace;
        font-size: 20px;
}

figcaption {
            color: yellow;
            font-family: DejaVu Sans Mono, monospace;
}
